<div class="container">
  <form class="flexable" [formGroup]="signupForm" (ngSubmit)="register()">
    <div class="flex-form">
      <label>First Name:
        <input name="firstName" type="text">
      </label>
    </div>
    <br />
    <div class="flex-form">
      <label>Last Name:
        <input name="lastName" type="text">
      </label>
    </div>
    <br />
    <div class="flex-form">
      <label>Email:
        <input name="email" type="email">
      </label>
    </div>
    <br />
    <div class="flex-form">
      <label>Password:
        <input name="password" type="password">
      </label>
    </div>
    <br />
    <div class="flex-form">
      <label>Password Confirmation:
        <input name="passwordConf" type="password" required>
      </label>
    </div>
    <br />
    <button type="submit">Register</button>
  </form>
</div>
