<div class="justify-content-center align-items-center py-5">
  <h2 class="border-bottom">Subscribe</h2>
  <div>

    <!--  SUBSCRIBE FORM -->
    <form #subscribeForm="ngForm" (ngSubmit)="submit(subscribeForm)">

    <!--  EMAIL INPUT  -->
      <div class="form-group">
        <label>Email:</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="email" required email>
      </div>
      <!-- EMAIL VALIDATION -->
      <div *ngIf="subscribeForm.invalid && subscribeForm.dirty" class="alert alert-danger">
        Fill in email.
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Subscribe</button>
      </div>
    </form>
  </div>

</div>
<div class="row">
  Current email: {{ email }}
</div>
